$font-main: 'Poppins', system-ui, sans-serif;

$bg-main: #badcf8;
$text-main: #588af7;

$primary: #badcf8;
$primary-dark: #badcf8;

$secondary: #9ad0ff;

$button-bg: #ffffff;
$button-border: #418af8;
$button-text: #243c75;

$button-hover: #588af7;
$button-active: #badcf8;
$button-disabled: #f3f3f3;