@use './styles/variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');

:root {
  font-family: "Chango", sans-serif;
  color: $text-main;
  background-color: $bg-main;
}

body {
  margin: 0;
}

h1 {
  font-weight: 700;
  letter-spacing: 0.3px;
}

.homepage-card {
  text-align: center;
  padding: 20px 20px 24px;
  border-radius: 20px;

  background: rgba(255, 255, 255, 0.85);
  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.15),
    0 4px 10px rgba(0, 0, 0, 0.08);

  backdrop-filter: blur(6px);

  margin-bottom: 20px;
}


button {
  font-size: 1.0rem;
  padding: 0.40em 0.9em;
  font-family: $font-main;
  background-color: $button-bg;
  color: $button-text;
  border: 2px solid $button-border;
  border-radius: 12px;
  font-weight: 600;

  transition:
    background-color 0.18s ease,
    transform 0.08s ease,
    box-shadow 0.18s ease;

  &:hover:not(:disabled) {
    background-color: $button-hover;
  }

  &:active:not(:disabled) {
    background-color: $button-active;
    transform: scale(0.96);
  }

  &:disabled {
    background-color: $button-disabled;
    cursor: not-allowed;
    opacity: 0.6;
  }

  .icon-btn {
    font-size: 2.0rem;
    padding: 0.9em;
    line-height: 1;
  }
}

//Mobile layout
@media (max-width: 768px) {
  body > div > div {
    margin-top: 20px !important;
  }
}
